.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;

  h1 {
    color: 0.85;
  }
}
