@import "@/styles/variables.scss";
.wrapper {
  min-width: 60%;
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.button {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2;
  font-size: 1.3rem;
  color: $color-brand;
  background: white;
}

.isActive {
  background-color: $color-brand;
  color: white;
}

.tabContentWrapper {
  padding: 2rem 0;
}
