@import "@/styles/common.scss";

.search {
  max-width: 300px;
  position: relative;

  input {
    padding: 16px 8px;
    width: 100%;
    border: $border-input;
    appearance: none;
    border-style: solid;
    border-radius: 4px;
    font-size: 1.2rem;

    &:focus {
      outline-color: $color-brand;
    }
  }
}

.dropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: $border-input;
  border-radius: 4px;
  border-top: none;
  position: absolute;
  z-index: index($z-order, dropdown);
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  max-height: 300px;

  &__option {
    appearance: none;
    border: none;
    background: none;
    display: block;
    padding: 12px 8px;
    width: 100%;
    text-align: left;
    font-size: 1rem;

    &:hover {
      background-color: $color-brand;
      color: white;
    }
  }
}
