.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
  border-top: 2px solid #d3d3d357;

  @media (min-width: 768px) {
    grid-column: 2;
    grid-row: 1;
  }
}

.title {
  text-align: center;
}

.summaryStats {
  border-collapse: collapse;
  width: 100%;
  font-size: 1rem;

  //caption {
  //   font-weight: bold;
  //   text-transform: uppercase;
  //   line-height: 2;
  //   font-size: 1.3rem;
  //   background-color: #0c2074;
  //   color: white;
  //}

  tr {
    border-bottom: solid 2px #e6e2e2;
  }

  th,
  td {
    padding: 10px 0;
    text-align: left;
    line-height: 2.4;
  }

  td {
    text-align: right;
  }
}
