.wrapper {
  max-width: 500px;
  border-top: 2px solid #d3d3d357;
  padding: 16px 0;
  grid-area: sidebar;

  margin: 0 auto 3rem;

  @media (min-width: 1024px) {
    margin: auto;
    padding: 0;
    border: none;
    text-align: left;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-top: 0.5rem;
    }

    h1 {
      margin: 0;
    }

    h3 {
      font-size: 0.75rem;
    }
  }

  p {
    text-align: justify;
  }
}
